/* @import url("./fonts.css"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --w: #fff;
    --b: #3f3f3f;
    --color-primary: #772976;
    --color-secondary: #933592;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

/* body {font-family: 'ManropeMedium';} */
/* input, */
/* .mantine-PasswordInput-root,
.mantine-Input-Wrapper,
.mantine-Select-wrapper,
.mantine-Select-Dropdown, */
/* option,
select {
  max-width: 400px;
} */

.auto-width {
  max-width: none !important;
}

a {
  color: #ddd6fe !important;
}
#backtotop {
  position: fixed;
  bottom: 4px;
  right: 4px;
  padding: 8px;
}

img {
  height: auto;
  max-width: 100%;
}

.mantine-ScrollArea-scrollbar {
  background: #363535;
  border-radius: 10px;
}

.mantine-ScrollArea-thumb {
  background: #7e2c75;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #363535;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7e2c75;
  border-radius: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e2c75;
}
